   VITE_SUPABASE_URL=https://maamrtqggssxcroxrdye.supabase.co
   VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1hYW1ydHFnZ3NzeGNyb3hyZHllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjczODI3OTIsImV4cCI6MjA4Mjk1ODc5Mn0.120yvnEvqRsJCCxr8xpPCCVnfvpBn-i6NtWQ9rGhyIQ